variable "aws_access_key" {
  type    = string
  default = "aws_access_key"
}

variable "aws_secret_key" {
  type    = string
  default = "aws_secret_key"
}

variable "aws_region" {
  type    = string
  default = "aws_region"
}

variable "aws_availability_zone" {
  type    = string
  default = "aws_availability_zone"
}
